.App {

}

.filter-active{
  background-color: blue;
}

.todoList {
  width: 25%;
  margin: 0 auto;
  background-color: silver;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
  background-color: slategrey;
  margin: 5px;
}